<h1>Listing animal_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animal_types.each do |animal_type| %>
      <tr>
        <td><%= animal_type.description %></td>
        <td><%= link_to 'Show', animal_type %></td>
        <td><%= link_to 'Edit', edit_animal_type_path(animal_type) %></td>
        <td><%= link_to 'Destroy', animal_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal type', new_animal_type_path %>
